

# 忽略所有的 MAVEN 文件

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar


# 忽略所有的 MyEclipse 文件

.settings
.classpath
.mymetadata
.project

# 忽略所有的 idea 文件

.idea
*.iml
